commands:
 01_pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip==18.1
    ignoreErrors: false
 02_tensorflow:
    command: './pip install --upgrade --no-cache-dir setuptools'
    ignoreErrors: false
    cwd: /opt/python/run/venv/bin
 03_tensorflow:
    command: './pip install --no-cache-dir tensorflow'
    ignoreErrors: false
    cwd: /opt/python/run/venv/bin
 04_tensorflow:
    command: './pip install --no-cache-dir keras'
    ignoreErrors: false
    cwd: /opt/python/run/venv/bin
