option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'

container_commands:
 set_Region:
     command: "export AWS_DEFAULT_REGION=us-east-2"
 01migrate:
     command: "flask db init"
 02migrate:
     command: "flask db migrate"
 03migrate:
     command: "flask db upgrade"